body
{
	color:black;
	background-image: url("14.jpg");
	background-attachment: fixed;
	font-family:"Texte","Arial","Times New Roman";
	font-size:105%;
}

header
{
	width: 100%;
	height: 200px;
	background-image: url("15.jpg");

	margin-top:0;
	margin-bottom: 5%;
}

nav
{
	font-size: 70%;
	right:0;
	top:10%;
	background-image:linear-gradient(60deg,silver, white);
	position:fixed;
	border:2px groove blue;
	border-radius: 10px 5px 5px 10px;
	box-shadow: -6px 6px 6px black;
	opacity:0.25;
	padding:0.5%;
	
}
nav:hover
{
	opacity:1;
}

section
{
	border: 2px solid black;
	border-radius: 10px;
    box-shadow: 2px 2px 1px black;
	background-color:rgb(15,180,160);
	margin-right:10%;
	margin-left:10%;
	padding-left:1%;
	padding-bottom: 1%;
	width:80%;
}



p
{
	width: 94%;
	text-align: justify;
	padding:1%;
	margin:2%;
}

a
{
	text-decoration:none;
	font-weight:bold;
	padding-left:1%;
	padding-right: 1%;
	padding-bottom: 0.1%;
	padding-top: 0.1%;
}
a:hover
{
	border:1px groove black;
	border-radius:10px; 
	box-shadow: 1px 1px 0px black;

}
a:active
{
	border:1px inset;
}

h1
{
	text-align: center;
	margin-top:5%;
	color:rgb(255,200,150);
	font-family: 'Titre';
	font-size: 10em;
    text-shadow: 10px 10px 10px maroon;
}

h2
{
	font-size:3em;
	padding-left: 10%;
	color:white;
	text-shadow: 2px 2px 2px black;
}

h3
{
	color:rgb(0,127,255);
	text-shadow: 1px 1px 1px white;
	font-size: 2em;
	padding-left: 5%;

}

figure
{
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}
figure img
{
	margin-top: 2%;
	text-align: center;
}

figcaption
{
	font-style: italic;
	width:40%;
	text-align: center;
	padding:1%;
	margin-bottom:2%;
	margin-right: auto;
	margin-left: auto;

}	
ol li
{
	list-style-type: upper-roman;
}

nav a , nav li
{
	color:black;
}


img
{
	text-align: center;
}

.flottant
{
	float: right;
	padding-right: 10%;
}

#droite
{
	overflow: auto;
	float: right;
	padding-right:1%;
	padding-left: 2%;
	width: 15%;
	text-align: right;
}

@font-face 
{
	font-family: "Titre";
	src :url("Enchanted Land.otf");
}
@font-face 
{
	font-family: "Texte";
	src :url("AppleGaramond.ttf");
}